  body {
    background-color: yellow;
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  h1 {
    text-align: center;
  }
  
  .batur{
    border: 5px black;
    text-align: center;
    padding: 17px;
  }
  
  .batur:hover {
    background-color: orange;
  }
   
  .sirah-tabel {
    background-color: red;
  }
  
  .tabel {
    border-collapse: collapse;
    width: 100%;
  }
  
  .aksi-batur {
    background-color: red;
  }
  
  .aksi-batur:hover {
    background-color: red;
  }
